<div id="page-wrapper">       
    <div class="row">
        <div class="container">
			<h1 align="center">IT Employees Management</h1>
			<h2>Chartjs Example</h2>	
	
	<!--column 1-->
<div class="box-1 box-2 box-3 " id="grad1">
	<div class="chartbox-1 chartbox-2 chartbox-3"> 
			<div class="chartbox">
			<h4>Distribution <span style="float:right"> Employees Only<span></h4> 
           <canvas tc-chartjs-pie chart-options="options" chart-data="data1"></canvas>
			</div>
		<div class="chartbox">
		<h4> Actual vs. Target Hires by Quarter</h4>
		<canvas tc-chartjs chart-type="bar" chart-data="data2" chart-options="options"></canvas>		
	</div>
            <div class="chartbox">
			<h4> Numbers of New Hires by Month</h4>
				<canvas tc-chartjs chart-type="line" chart-data="data3" chart-options="options" ></canvas>
	</div>    
         </div>  
<!--column 2-->
		 
      <div class="chartbox-4 chartbox-5 chartbox-6"> 
			
		<div class="chartbox">
		<h4> Actual vs. Target Hires by Quarter</h4>
		<canvas tc-chartjs chart-type="bar" chart-data="data4" chart-options="options"></canvas>		
	</div>
            <div class="chartbox">
			<h4> Numbers of New Hires by Salary</h4>
		<div class="chart">
  <div style="background-color:red; width: 20%;">20</div>
  <div style="background-color:orange; width: 30%;">30</div>
  <div style="background-color:yellow; width: 45%;">45</div>
  <div style="background-color:Green; width: 66%;">66</div>
  <div style="background-color:Blue; width: 80%;">80</div>
   <div style="background-color:Purple; width: 95%;">95</div>
</div>		
	</div>    
         </div> 

<!--column 3-->
<div class="chartbox-7 chartbox-8 chartbox-9"> 
			<div class="chartbox">
			<h4> Numbers of New Hires by City</h4>
		<canvas tc-chartjs chart-type="line" chart-data="data6" chart-options="options" ></canvas>	
    <!--       <div class="chart2"></div> -->
			</div>
		<div class="chartbox">
		<!--liner chart-->
		
		<h4> Numbers of New Hires by year</h4>
		<div class="chart">
  <div style="background-color:BlueViolet ; width: 20%;">20</div>
  <div style="background-color:BlueViolet ; width: 30%;">30</div>
  <div style="background-color:BlueViolet ; width: 45%;">45</div>
  <div style="background-color:BlueViolet ; width: 36%;">36</div>
  <div style="background-color:BlueViolet ; width: 70%;">70</div>
   <div style="background-color:BlueViolet ; width: 85%;">85</div>
</div>		
	<!--	<div linear-chart chart-data="salesData"></div>		-->
	</div>
            <div class="chartbox">
			<h4>Distribution <span style="float:right"> Employees Only<span></h4> 
           <canvas tc-chartjs-pie chart-options="options" chart-data="data5"></canvas>	
	</div>    
         </div>  		 
	</div>	

	     
   
        </div> <!-- Container div ends-->
    </div>
            <!-- /.row -->
   
</div>



